.root{
}
body{
	background: "#ccffee" !important;
	font-family: "Courier New Bold";
	font-size: "20px" !important;
}

.sidebar{
	position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main{
	float: right;
	font-size: 20px
}

.loader{
	margin: auto;
	margin-top: 19%;
}